In [10]:
from pymongo import MongoClient
conn = MongoClient("mongodb://localhost:27017/")
db = conn["adstest"]
collection = db["student"]

In [ ]:
sample_data = {"__id":1,"name": "Vasco", "age": 21, "department": "Mech"}
students = [
    {"_id": 1, "name": "Alice", "age": 22, "department": "CS"},
    {"_id": 2, "name": "Bob", "age": 24, "department": "IT"},
    {"_id": 3, "name": "Charlie", "age": 23, "department": "Physics"},
    {"_id": 4, "name": "Diana", "age": 21, "department": "Biology"}
]
collection.insert_many(students)

In [ ]:
i=0
for document in collection.find():
    if(i==0):
        print(list(document.keys()))
    print(list(document.values()))
    i=i+1

In [11]:
var=collection.find({},{"_id": 0, "name": 1})
for i in var:
    print(i)
conn.close()

{'name': 'John Doe'}
{'name': 'Vasco'}
{'name': 'Alice'}
{'name': 'Bob'}
{'name': 'Charlie'}
{'name': 'Diana'}

in this we going to find a person with name or similar to select from

In [7]:
from pymongo import MongoClient
conn = MongoClient("mongodb://localhost:27017/")
db = conn["adstest"]
collection = db["student"]
#here limit return 2 documnets mathching
var=collection.find({"name": "Bob","age":24}).limit(2)
for i in var:
    print(i)
    
#conn.close()

{'_id': 2, 'name': 'Bob', 'age': 24, 'department': 'IT'}

In [34]:
collection1=db["class_stu"]
documents=[
    {"Name":"sandra","Age":21,"Place":"Ernakulam"},
    {"Name":"Devi","Age":23,"Place":"Malppuram"},
    {"Name":"Nazrin","Age":21,"Place":"Kottayam"}
]
result=collection1.insert_many(documents)
print(f"Documents inserted with IDs: {result.inserted_ids}")

Documents inserted with IDs: [ObjectId('67e2338f56feba6ca645393a'), ObjectId('67e2338f56feba6ca645393b'), ObjectId('67e2338f56feba6ca645393c')]

In [ ]:
#to view the data inserted
var=collection1.find({"Age":23})
for doc in var:
    print(doc)

{'_id': ObjectId('67e22d0f56feba6ca6453938'), 'Name': 'Devi', 'Age': 23, 'Place': 'Malppuram'}

In [32]:
#to update place of peoples with age 21
result=collection1.update_many(
    {"Age":23},
    {"$set":{"Place":"Malappuram"}}
)

In [33]:
#deleting many 
collection1.delete_many({"Age":21})

DeleteResult({'n': 2, 'ok': 1.0}, acknowledged=True)

In [ ]:
#age greter than 20
result=collection1.find({"Age": {"$gt" :20}})
for doc in result:
    print(doc)

{'_id': ObjectId('67e2338f56feba6ca645393b'), 'Name': 'Devi', 'Age': 23, 'Place': 'Malppuram'}

In [ ]:
#select * from table where name starts with S
result=collection1.find({"Name": {"$regex": "^S", "$options": "i"}}) #$options :i makes this case insensitive
for doc in result:
    print(doc)

{'_id': ObjectId('67e2338f56feba6ca645393a'), 'Name': 'sandra', 'Age': 21, 'Place': 'Ernakulam'}

In [47]:
#select * from table where name ends with i
result=collection1.find({"Name": {"$regex": "i$", "$options": "i"}},{"_id":0}) #$options :i makes this case insensitive also {"_id":0} uses to hide id in the output
for doc in result:
    print(doc)

{'Name': 'Devi', 'Age': 23, 'Place': 'Malppuram'}